<?xml version="1.0"?>
<config>
    <modules>
        <Madosoftware_Ecard1click>
            <version>0.1.0</version>
        </Madosoftware_Ecard1click>
    </modules>
    <global>
        <blocks>
            <madosoftware_ecard1click>
                <class>Madosoftware_Ecard1click_Block</class>
            </madosoftware_ecard1click>
        </blocks>
        <helpers>
            <madosoftware_ecard1click>
                <class>Madosoftware_Ecard1click_Helper</class>
            </madosoftware_ecard1click>
        </helpers>
        <models>
            <madosoftware_ecard1click>
                <class>Madosoftware_Ecard1click_Model</class>
                <resourceModel>madosoftware_ecard1click_resource</resourceModel>
            </madosoftware_ecard1click>
            <madosoftware_ecard1click_resource>
                <class>Madosoftware_Ecard1click_Model_Resource</class>
                <entities>
                    <oneclick>
                        <table>ecard_oneclick</table>
                    </oneclick>
                </entities>
            </madosoftware_ecard1click_resource>
        </models>
        <resources>
            <madosoftware_ecard1click_setup>
                <setup>
                    <module>Madosoftware_Ecard1click</module>
                </setup>
            </madosoftware_ecard1click_setup>
        </resources>
    </global>
</config>
